[flake8]
max-line-length = 120
inline-quotes = "
extend-ignore =
;    аннотация self/cls
    ANN101 ANN102
;    возвращаемое значение __init__
    ANN204
;    аннотации для *args, **kwargs
    ANN003 ANN002
;   запрет на f-строки в логгинге
    G004
    ;docstring
    D100
    D101
    D102
    D103
    D104
    D105
    D106
    D107

    ; print
    T201

    ; allow ternary
    IF100

    ; tmp
    CCR001
    C413
    ECE001
    ; line len
    E501
    DM001

    ; redefine builtin
    A003
    VNE003


    TYP001
    ANN001

    N806
    VNE001
    ANN201
    ANN202
    D200
    E203
    DAR401
    D400
    S308
    S314
    S320
    S405
    S410
    S703
    SIM910
    VNE002
    S410
    ABS101



;ignore = N815,S105,A003,VNE003,ANN101,G200,IF100,ANN401,ANN102,G004
exclude = .cache/*, venv/*, tmp.py
require-plugins =
    flake8-absolute-import
    flake8-annotations
    flake8-annotations-complexity
    flake8-assertive
    flake8-bandit
    flake8-breakpoint
    flake8-broken-line
    flake8-bugbear
    flake8-builtins
    flake8-cognitive-complexity
    flake8-comprehensions
    flake8-debugger
    flake8-django-migrations
    flake8-docstrings
    flake8-eradicate
    flake8-expression-complexity
    flake8-if-expr
    flake8-isort
    flake8-logging-format
    flake8-mutable
    flake8-pep585
    flake8-pep604
    flake8-print
    flake8-quotes
    flake8-rst-docstrings
    flake8-string-format
    flake8-variables-names
    flake8_simplify


per-file-ignores =
    # imported but unused
    **/__init__.py: F401,ABS101,F403
