-r requirements.txt

luaparser==3.2.1
lupa==2.1
chardet==5.2.0
pylint==3.1.0
pylint-django
mypy
django-stubs[compatible-mypy]==4.2.4
types-lxml
types-cffi
ruff
black
isort
pre-commit
autoflake
pyupgrade
pre-commit-hooks >= 4.5.0
