<div>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-center">
            <div>{{ reward.items_count }} пачек </div>
            <div>({{ reward.ammo_count }} патронов)</div>
        </div>
        <div class="d-flex flex-column">
            <img src="{{ reward.item.item_icon_path }}"  width="{{ reward.item.icon_w }}" height="{{ reward.item.icon_h }}">
            <div class="d-flex flex-row">
                <div>{{ reward.item.item_label }}("{{ reward.item.item_id }}")</div>
            </div>
        </div>
    </div>
</div>