<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Escape Map</title>
        {% if meta_description %}
            <meta name="description"
                  content="{{ meta_description }}" />
        {% endif %}
        {% if meta_keywords %}
            <meta name="keywords"
                  content="{{ meta_keywords }}" />
        {% endif %}
        <style>
            #map {
                width: 90vw;
                height: 90vh;
            }
        </style>
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              crossorigin="" />
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                crossorigin=""></script>
        {{ items|json_script:"items" }}
        {{ map_offset|json_script:"map_offset" }}
        {{ y_level_offset|json_script:"y_level_offset" }}
        <script>
            const imagePath = "{{ layer_image_url }}";
            const items = JSON.parse(document.getElementById('items').textContent);
            const map_offset = JSON.parse(document.getElementById('map_offset').textContent);
            const yLevelOffset = JSON.parse(document.getElementById('y_level_offset').textContent);
            const min_x = map_offset[0];
            const min_y = map_offset[1];
            const max_x = map_offset[2];
            const max_y = map_offset[3];


            document.addEventListener("DOMContentLoaded", () => {

                // Using leaflet.js to pan and zoom a big image.
                // See also: http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html
                // create the slippy map
                const map = L.map('map', {
                    minZoom: -1,
                    maxZoom: 6,
                    center: [0, 0],
                    zoom: 1,
                    crs: L.CRS.Simple
                });
                // calculate the edges of the image, in coordinate space
                const southWest = map.unproject([min_x, min_y], 0);
                const northEast = map.unproject([max_x, max_y], 0);
                const bounds = new L.LatLngBounds(southWest, northEast);
                // add the image overlay,
                // so that it covers the entire map
                L.imageOverlay(imagePath, bounds).addTo(map);
                // tell leaflet that the map is exactly as big as the image
                map.setMaxBounds(bounds);
                items.forEach(
                    (item) => {
                        const marker = new L.Marker([item.position[1] + yLevelOffset, item.position[0]])
                        marker.bindPopup(`${item.position}, ${item.name}, ${item.section_name}`)
                        marker.addTo(map);
                    }
                );

                const Coordinates = L.Control.extend({
                    onAdd: map => {
                        const container = L.DomUtil.create("div");
                        map.addEventListener("mousemove", e => {
                            container.innerHTML = `
          <h2>Latitude is
            ${e.latlng.lat.toFixed(4)} <br>
            and Longitude is  ${e.latlng.lng.toFixed(4)}
            </h2>
          `;
                        });
                        return container;
                    }
                });
                map.addControl(new Coordinates({
                    position: "bottomleft"
                }));

            });
        </script>
    </head>
    <body>
        <div class="main">
            <div class="wrapper">
                <h3 class="mb-3">
                    Bounds: {{ map_offset }}
                </h3>
                <div id="map">
                </div>
            </div>
        </div>
    </body>
</html>
