{% load parser_tasks %}

<div class="task d-flex flex-row justify-content-between border-bottom border-3 mb-2">
    <div class="target flex-column">
        <h5 class="align-self-center">
            Цель
        </h5>
        {% render_target task.target %}
    </div>
    <div class="test-text mx-3">
        {{ task.text }}
    </div>
    <div class="rewards d-flex flex-column">
        <h5 class="align-self-center">Награда</h5>
        {% for reward in task.rewards %}
            {% render_reward reward %}
        {% endfor %}
    </div>
</div>